[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]
pytest = "*"
mkdocs = "*"
mkdocs-material = "*"
codecov = "*"
pylint = "*"
yapf = "*"

[packages]
httpx[http2] = ">=0.21.3"
cssselect = "*"
lxml = "*"

[requires]
python_version = "3.9"
